<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>@fullstack-template/frontend-react</title>

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Source+Sans+Pro&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div id="mount"></div>

		<!-- Dependencies -->
		<% if (webpackConfig.mode == 'production') { %>
		<script crossorigin src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
		<% } else { %>
		<script crossorigin src="https://unpkg.com/react@17.0.2/umd/react.development.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js"></script>
		<% } %>
	</body>
</html>
